@import "tailwindcss";

body {
  font-family: 'Nunito', sans-serif;
  font-display: swap;
}

@layer utilities {
  .spin-slow {
    animation: spin 10s linear infinite;
  }
}


body {
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    font-smooth: always; 
  }
  